<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine</dt>
  <dd><%= @cuisine.name %></dd>

  <dt>Favorites</dt>
  <% @favorite_details.each do |venue,user| %>
    <dd><%= venue.name %> (<%= user.username.capitalize %>)</dd>
  <% end %>
</dl>
